// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border: 2px solid black;
  border-collapse: collapse;
}

th, td, tr {
  border: 2px solid black;
}

th {
  font-family: Arial;
  font-weight: bolder;
  color: red;
}